<div class="container-sm bd-layout">
    <div class="container text-end">
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <button type="button" class="btn btn-link" routerLink="register">Registrarse</button>
            </div>
        </div>
    </div>


    <form class="row g-3 needs-validation" [formGroup]="user" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">
                    Por favor, ingresa tu correo
                </div>
                <div *ngIf="f['email'].errors['email']">
                    Por favor, ingresa un correo válido
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Por favor, ingresa tu password</div>
                <div *ngIf="f['password'].errors['minlength']">Por favor, ingresa un password de al menos 8 caracteres
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>